.container {
    max-width: 360px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.date   {
    font-size: 14px;
    color: darkgrey;
}

.credit-amount {
    font-size: 20px;
    color: green
}

.debit-amount {
    font-size: 20px;
    color: red;
}

.description {
    font-size: 14px;
    color: darkgrey;
    position: absolute;
    left: 5px;
}

button  {
    margin-left: 5px;
    margin-right: 5px;
}