<div class="container">
  <mat-card *ngFor="let transaction of transactions" class="card">
      <mat-grid-list cols="3" rowHeight="2:1">
          <mat-grid-tile *ngIf="isCredit(transaction.kind)" class="credit-amount">+ {{toEuro(transaction.amount) | currency:'EUR'}}</mat-grid-tile>
          <mat-grid-tile *ngIf="!isCredit(transaction.kind)" class="debit-amount">- {{toEuro(transaction.amount) | currency:'EUR'}}</mat-grid-tile>
          <mat-grid-tile class="date">{{transaction.date | timeAgo}}</mat-grid-tile>
          <mat-grid-tile rowspan=2>
            <button (click)="onEdit(transaction.id)" mat-mini-fab color="primary"><mat-icon>edit</mat-icon></button>
            <button (click)="onDelete(transaction.id)" mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
          </mat-grid-tile>
          <mat-grid-tile colspan=2><div class="description">{{transaction.description}}</div></mat-grid-tile>
      </mat-grid-list>
  </mat-card>
</div>
<a mat-raised-button color="primary" [routerLink]="['/list-balances']">Back</a>