table {
    width: 100%;
    margin-left:0%; 
    margin-right:0%;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-stroked-button{
    margin-right: 10px;
}

button  {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5px;
    margin-right: 5px;
}