<table mat-table [dataSource]="kidsAndBalances" class="mat-elevation-z8">
  <ng-container matColumnDef="kidName">
    <th mat-header-cell *matHeaderCellDef> Kid</th>
    <td mat-cell *matCellDef="let item"> {{item.kidName}} </td>
  </ng-container>
  <ng-container matColumnDef="kidBalance">
    <th mat-header-cell *matHeaderCellDef> Balance </th>
    <td mat-cell *matCellDef="let item"> {{toEuro(item.kidBalance) | currency:'EUR'}} </td>
  </ng-container>
  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item">
      <a mat-stroked-button color="primary" [routerLink]="['/kid-transactions', item.kidId]">List transactions</a>  
      <a mat-stroked-button color="primary" [routerLink]="['/add-transaction', item.kidId]">Add transaction</a> 
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
