.form-container {
    display: flex;
    flex-direction: column;
  }
    
  .component-container  {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
    /* .example-radio-group {
      display: inline-flex;
      flex-direction: column;
    } */
  
  .mat-radio-button {
    margin: 15px;
  }
  
  .mat-form-field {
    margin: 5px;
  }
  